
.home
{
    padding: 2em 0;
    h1
    {
        color: $text-color;
        width: 100%;
    }
    .featured-posts-container {
        display: flex;
    }
    .bg-white
    {
        background: #fff;
    }
}

@media screen and (max-width:900px) {
    .home{
        h1{
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container{
            flex-direction: column;
        }
    }
}